:root {
    /* my custom colors */
    --myblue: #19D3DA;
    --mygray: #373A40;
    --mywhite: #EEEEEE;
    --mylightgray: rgba(104, 109, 118, 0.1);
    /* my fonts - available font weights 300-900 */
    --worksans: 'Work Sans', sans-serif;
    --bitter: 'Bitter', serif;
    /* my font sizes */
    --header1: 48px;
    --header2: 36px;
    --header4: 18px;
    --paragraph: 18px;
}

body {
    margin: auto;
}

/* -------------------NAV------------------- */
nav {
    width: 100%;
    background-color: var(--mygray);
    justify-content: end;
    padding-right: 12%;
}

nav a {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 500;
    font-size: var(--header4);
    text-decoration: none;
    text-underline-offset: 4px;
    transition: color 0.4s;
}

nav a:hover {
    color: var(--mywhite);
}

/* -------------------INTRO------------------- */
.intro {
    background-color: var(--mygray);
    padding-top: 125px;
    padding-bottom: 200px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-bottom: 20px;
    background: url(./images/headshot1.png) no-repeat;
    box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.5);
    overflow: hidden;
}

.my-name {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 500;
    font-size: var(--header1);
    padding-bottom: 5px;
}

.my-title {
    color: var(--mywhite);
    font-family: var(--worksans);
    font-weight: 500;
    font-size: var(--header4);
    padding-bottom: 5px;
}

.short-intro {
    color: var(--mywhite);
    font-family: var(--bitter);
    font-weight: 300;
    font-size: var(--paragraph);
    padding-bottom: 5px;
}

.download {
    background-color: var(--myblue);
    color: var(--mygray);
    font-family: var(--worksans);
    font-weight: 600;
    font-size: var(--header4);
    border: 1px solid var(--myblue);
    border-radius: 10px;
    padding: 2px 20px 3px 15px;
    box-shadow: 0px 10px 8px -5px rgba(0,0,0,0.4);
}

/* -------------------SKILLS------------------- */
.skills-1 {
    background-color: var(--mywhite);
    padding-top: 75px;
    padding-bottom: 25px;
}

.my-skills {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 600;
    font-size: var(--header2);
}

.skills-2 {
    background-color: var(--mywhite);
    padding-bottom: 40px;
}

.skill-card {
    width: 300px;
    height: 500px;
}

.skill-card h4 {
    background-color: var(--myblue);
    color: var(--mygray);
    font-family: var(--worksans);
    font-weight: 700;
    font-size: var(--header4);
    padding: 15px 0px 15px 15px;
    border-radius: 10px 10px 0px 0px;
    margin: 0 10px 0 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
}

.skill-card ul {
    height: 340px;
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    line-height: 2;
    list-style: none;
    background-color: var(--mylightgray);
    padding: 15px 0px 15px 40px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 10px 0 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
}

/* -------------------WORK------------------- */
.work-1 {
    background-color: var(--mygray);
    padding-top: 50px;
    padding-bottom: 25px;
}

.my-work {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 600;
    font-size: var(--header2);
}

.wrapper {
    background-color: var(--mygray);
}

.work-2 {
    width: 100%;
    background-color: var(--mygray);
    padding-bottom: 70px;
}

.featured-work h4 {
    width: 100%;
    height: 55px;
    background-color: var(--myblue);
    color: var(--mygray);
    font-family: var(--worksans);
    font-weight: 700;
    font-size: var(--header4);
    padding: 15px 0px 15px 0px;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s, border-radius 0.5s;
}

.featured-work:hover h4 {
    transform: translateY(-235px);
    border-radius: 10px 10px 0px 0px;
}

.featured-work {
    width: 600px;
    height: 290px;
    border-radius: 10px;
    margin: 0 10px 25px 10px;
    overflow: hidden;
}

.featured-work a {
    font-family: var(--bitter);
    font-size: var(--paragraph);
    font-weight: 700;
    color: var(--mygray);
    text-decoration: none;
    text-decoration-color: var(--myblue);
    transition: text-decoration 0.5s;
}

.featured-work a:hover {
    text-decoration: underline;
    text-decoration-color: var(--myblue);
    text-decoration-thickness: 0.2em;
}

.pettrax-preview {
    background: url(./images/dogs2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.pet-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.featured-work:hover .pettrax-preview {
    transform: translateY(-235px);
}

.featured-work:hover .pet-desc {
    transform: translateY(-235px);
}

.hungry-preview {
    background: url(./images/nature.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.hungry-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.featured-work:hover .hungry-preview {
    transform: translateY(-235px);
}

.featured-work:hover .hungry-desc {
    transform: translateY(-235px);
}

.ecommerce-preview {
    background: url(./images/ecommerce.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.ecom-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .ecommerce-preview {
    transform: translateY(-235px);
}

.work-card:hover .ecom-desc {
    transform: translateY(-235px);
}

.readme-preview {
    background: url(./images/readme.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.read-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .readme-preview {
    transform: translateY(-235px);
}

.work-card:hover .read-desc {
    transform: translateY(-235px);
}

.employee-preview {
    background: url(./images/employee.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.emp-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .employee-preview {
    transform: translateY(-235px);
}

.work-card:hover .emp-desc {
    transform: translateY(-235px);
}

.note-preview {
    background: url(./images/notes2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.note-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .note-preview {
    transform: translateY(-235px);
}

.work-card:hover .note-desc {
    transform: translateY(-235px);
}

.weather-preview {
    background: url(./images/weather.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.weather-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .weather-preview {
    transform: translateY(-235px);
}

.work-card:hover .weather-desc {
    transform: translateY(-235px);
}

.workday-preview {
    background: url(./images/workday.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .workday-preview {
    transform: translateY(-235px);
}

.work-card:hover .work-desc {
    transform: translateY(-235px);
}

.code-preview {
    background: url(./images/quiz.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.code-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .code-preview {
    transform: translateY(-235px);
}

.work-card:hover .code-desc {
    transform: translateY(-235px);
}

.password-preview {
    background: url(./images/pass.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 235px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.pass-desc {
    height: 235px;
    background-color: var(--mywhite);
    color: var(--mygray);
    font-family: var(--bitter);
    font-weight: 500;
    font-size: var(--paragraph);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.5), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

.work-card:hover .password-preview {
    transform: translateY(-235px);
}

.work-card:hover .pass-desc {
    transform: translateY(-235px);
}

.work-card {
    width: 290px;
    height: 290px;
    margin: 12px 10px 25px 10px;
    overflow: hidden;
}

.work-card h4 {
    width: 100%;
    height: 55px;
    background-color: var(--myblue);
    color: var(--mygray);
    font-family: var(--worksans);
    font-weight: 700;
    font-size: var(--header4);
    padding: 15px 0px 15px 15px;
    margin-bottom: 0px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0px 7px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
    transition: transform 0.5s, border-radius 0.5s;
}

.work-card:hover h4 {
    transform: translateY(-235px);
    border-radius: 10px 10px 0px 0px;
}

.work-card a {
    font-family: var(--bitter);
    font-size: var(--paragraph);
    font-weight: 700;
    color: var(--mygray);
    text-decoration: none;
    text-decoration-color: var(--myblue);
    transition: text-decoration 0.5s;
}

.work-card a:hover {
    text-decoration: underline;
    text-decoration-color: var(--myblue);
    text-decoration-thickness: 0.2em;
}

/* -------------------CHAT------------------- */

.chat-1 {
    background-color: var(--mywhite);
    padding-top: 75px;
    padding-bottom: 25px;
}

.lets-chat {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 600;
    font-size: var(--header2);
}

.chat-2 {
    background-color: var(--mywhite);
    padding-bottom: 70px;
}

.chat-2 h4 {
    color: var(--myblue);
    font-family: var(--worksans);
    font-weight: 700;
    font-size: var(--header4);
    margin-bottom: 15px;
}

.reach {
    margin-left: 30px;
}

.social {
    list-style: none;
    line-height: 3.5;
    font-family: var(--bitter);
    font-size: var(--paragraph);
}

.social a {
    text-decoration: none;
    color: var(--mygray);
}

.message-form {
    padding-left: 100px;
}

#gform {
    font-family: var(--bitter);
    font-size: var(--paragraph);
}

textarea {
    font-family: var(--bitter);
    font-size: var(--paragraph);
    border: 1px solid var(--mylightgray);
    border-radius: 10px 10px 10px 10px;
    background-color: var(--mylightgray);
    box-shadow: inset 0px 5px 5px -3px rgba(0,0,0,0.3), inset 5px -3px 5px -5px rgba(0,0,0,0.2), inset -5px -3px 5px -5px rgba(0,0,0,0.2);
}

#name {
    height: 2.2em;
    margin-bottom: 10px;
}

#email {
    height: 2.2em;
    margin-bottom: 10px;
}

::placeholder {
    color: var(--mygray);
    opacity: 1;
    font-family: var(--bitter);
    font-size: var(--paragraph);
}

#submit {
    color: var(--mygray);
    font-family: var(--worksans);
    font-weight: 600;
    font-size: var(--header4);
    background-color: var(--myblue);
    border: 1px solid var(--myblue);
    border-radius: 10px;
    padding: 2px 20px 3px 20px;
    margin-top: 10px;
    box-shadow: 0px 10px 8px -5px rgba(0,0,0,0.6);
}